$font-stack: "Lato", sans-serif;

* {
  font-family: $font-stack;
}

body {
  text-align: center;
  margin: 0;
}

.underlined-letters {
  display: flex;
  flex-direction: row;
}

.letter-button {
  width: 25px;
}

.guessed-letters-button {
  width: 25px;
}

.button-link {
  text-decoration: none;
}
