$font-stack: "Lato", sans-serif;
$text-primary: #b6b6b6;
$text-secondary: #ececec;
$bg-primary: #23232e;
$bg-secondary: #141418;
$transition-speed: 600ms;

* {
  font-family: $font-stack;
}

.title {
  font-family: "Schoolbell", cursive;
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  letter-spacing: 0.3ch;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.navbar {
  position: fixed;
  // transition: width $transition-speed ease;
  background-color: $bg-primary;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navbar:hover .logo i {
  transform: rotateX(360deg);
}

.navbar:hover .logo-png {
  transform: rotateX(360deg);
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 5rem;
  color: $text-primary;
}

.nav-link i {
  color: #ff7eee;
}

.nav-link:hover {
  background: $bg-secondary;
  color: $text-secondary;
}

.nav-link i {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  // text-align: center;
  color: $text-secondary;
  background: $bg-secondary;
  font: 1.2rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo i {
  transform: rotateX(0deg);
  transition: transform $transition-speed;
}

.logo-png {
  transform: rotateX(0deg);
  transition: transform $transition-speed;
  color: #ff7eee;
}

.underlined-letters {
  display: flex;
  flex-direction: row;
}

.guessed-letters-button {
  width: 25px;
  background-color: #ff7eee;
}

.button-link {
  text-decoration: none;
}

//Dictionary Page

.dictionary-grid {
  max-width: 40%;
  display: grid;
  grid-template-columns: 1;
}

.grid-item {
  align-self: center;
}

.grid-item-1 {
  display: flex;
  grid-column-start: 1;
  grid-column-end: -1;
}

.grid-button {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  max-width: 12rem;
  max-height: 2rem;
  margin: 1.2rem 1rem 0 1rem;
  background-color: #ff7eee;
  color: #ffffff;
}

// .dictionary-word {
//   padding-right: 40px;
// }

/* Small Screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .logo-png {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
    align-items: center;
  }

  main {
    margin-left: 0;
    margin-bottom: 5rem;
  }

  .homescreen-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 505;
  }

  .dictionary-grid {
    max-width: 100%;
  }
}

/* Large Screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }
}

.letter-button {
  background-color: #ff7eee;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;

  text-align: center;
  text-decoration: none;
  transition: color 100ms;
}

.letter-button:hover {
  background-color: #f082ac;
}
