.fa-bars {
  margin-right: 10px;
}

.navigation-menu {
  background: #111;
  height: 100%;
  width: 50%;
  padding: 60x 0;
  margin: 0;
  list-style: none;
  text-align: center;
  position: fixed;
  right: -45%;
  top: 0;
  transition: all 0.5s;

  font-size: 40px;
}

.navigation-menu li {
  padding: 30px 0;
}

.navigation-menu li:nth-of-type(2n) {
  background: #222;
}

.navigation-menu li:hover {
  background: #444;
}

.navigation-menu a {
  color: #e5e5e5;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.navbar {
  background: #e5e5e5;
  padding: 20px;

  width: 95%;
  top: 0;
}

/* Hide the checkbox */
#toggle {
  display: none;
}

/* Use this label to toggle the sliding menu */
label[for="toggle"] {
  cursor: pointer;
  font-size: 30px;
  margin-left: 40px;
}

/* Slide menu when checkbox is checked */
input#toggle:checked + ul.navigation-menu {
  right: 0;
}

/* Also slide content when checkbox is checked */
input#toggle:checked ~ .content {
  left: -45%;
}
