$font-stack: "Lato", sans-serif;
$text-primary: #b6b6b6;
$text-secondary: #ececec;
$text-pink: #ff7eee;
$text-green: #3fa796;
$bg-primary: #23232e;
$bg-secondary: #141418;
$bg-start: #23232e;
$transition-speed: 600ms;

* {
  font-family: $font-stack;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  color: $bg-primary;
  letter-spacing: 0.3ch;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.navbar {
  position: fixed;
  background-color: $bg-primary;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navbar:hover .logo i {
  transform: rotateX(360deg);
}

.navbar:hover .logo-icon {
  transform: rotateX(360deg);
}

.navbar:hover .logo-png {
  transform: rotateX(360deg);
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 5rem;
  color: $text-primary;
}

.nav-link i {
  color: #ff7eee;
}

.logo-icon {
  color: #ff7eee;
}

.nav-link:hover {
  background: $bg-secondary;
  color: $text-secondary;
}

.nav-link i {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo-icon {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  color: $text-secondary;
  background: $bg-secondary;
  font: 1.2rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo i {
  transform: rotateX(0deg);
  transition: transform $transition-speed;
}

.logo-png {
  transform: rotateX(0deg);
  transition: transform $transition-speed;
  color: #ff7eee;
}

.message-success {
  color: green;
}

.message-fail {
  color: red;
}

.grid-button {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  width: 8rem;
  height: 2.5rem;
  margin: 1.2rem 1rem 0 1rem;
  background-color: $text-pink;
  color: #ffffff;
  transition: ease-in-out;
}

.grid-button:hover {
  background-color: $bg-primary;
  color: $text-pink;
  transition-duration: 0.3s;
}

.grid-button-start {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  width: 8rem;
  height: 2.5rem;
  margin: 1.2rem 1rem 0 1rem;
  background-color: $bg-start;
  color: $text-pink;
  transition: ease-in-out;
}

.grid-button-start:hover {
  background-color: $bg-secondary;
  color: $text-secondary;
  transition-duration: 0.3s;
}

///////////////////////////////////////////////////////////
//Home Screen
.homescreen-container {
  text-align: center;
}

.homescreen-buttons {
  margin-bottom: 25px;
}

.underlined-letters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.guessed-letters-button {
  width: 25px;
  background-color: #ff7eee;
}

.button-link {
  text-decoration: none;
}

///////////////////////////////////////////////////////////
//Dictionary Screen

.magnifying-glass {
  color: $text-pink;
  height: 1.2rem;
  margin-left: 1rem;
}

.dictionary-icon-container {
  background-color: $bg-primary;
}

.dictionary-button-icon {
  padding-right: 0.5rem;
}

.update-icon {
  color: $text-pink;
}

.mydictionary-container-dark {
  background-color: $bg-primary;
  color: $text-primary;
}

.mydictionary-dark-subtitle {
  color: $text-pink;
}

.dictionary-title-and-search {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.search-box {
  width: 50%;
  height: 2rem;
  padding: 10px;
  margin-left: 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

.mydictionary-word-pos-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

.mydictionary-pos {
  color: $text-green;
  margin-top: 27px;
  margin-left: 10px;
}

.dictionary-button {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  width: 8rem;
  height: 2.5rem;
  margin: 1rem 1rem 1rem 0;
  background-color: $text-pink;
  color: #ffffff;
  transition: ease-in-out;
}

.dictionary-button:hover {
  background-color: $bg-primary;
  color: $text-pink;
  transition-duration: 0.3s;
}

.dictionary-button-start {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  width: 8rem;
  height: 2.5rem;
  margin: 1rem 1rem 1rem 0;
  background-color: $bg-start;
  color: $text-pink;
  transition: ease-in-out;
}

.dictionary-button-start:hover {
  background-color: $bg-secondary;
  color: $text-secondary;
  transition-duration: 0.3s;
}

///////////////////////////////////////////////////////////
//MyDictionaryWord Screen

.mwt-thesaurus-container {
  display: grid;
  grid-template-columns: 70% 30%;
}

///////////////////////////////////////////////////////////
//MerriamWebsterTerm Screen

.mwt-screen {
  width: 100%;
}

.term-and-pos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.conjugations-container {
  display: flex;
  flex-direction: row;
}

.thesaurus-eye-icon {
  margin-left: auto;
  margin-top: 30px;
  color: $bg-primary;
}

.thesaurus-eye-icon:hover {
  cursor: pointer;
}

///////////////////////////////////////////////////////////
//Thesaurus Screen
.thesaurus-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 0.4rem;
  padding-left: 1rem;
  width: 40%;
  min-width: 8rem;
  background-color: $bg-primary;
  color: $text-primary;
  margin-top: 2rem;
  margin-left: 1rem;
}

.thesaurus-title {
  margin: 0;
  color: $text-pink;
}

.synonyms-container {
  display: flex;
  flex-direction: column;
}

.synonym {
  font-size: 0.8rem;
  margin: 0;
}

///////////////////////////////////////////////////////////
//Category Screen
.category-screen {
  text-align: center;
}

.all-categories-container {
  width: 50%;
}

.category-hidden-word {
  font-size: 1rem;
}

.category-card {
  margin-bottom: 3rem;
}

.category-buttons {
  color: $text-pink;
  justify-content: space-between;
  padding: 5px;
}

.category-buttons:hover {
  cursor: pointer;
}
.category-description {
  margin: 0;
}

///////////////////////////////////////////////////////////
//Account Screen

.account-subtitle {
  color: $text-pink;
}

.account-user-info-container {
  display: flex;
}

.account-bold {
  font-weight: bold;
  padding-right: 5px;
}

///////////////////////////////////////////////////////////
//PlayRandomGameMode Screen
.game-mode-title {
  color: $text-green;
}
.game-mode-cards-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.game-mode-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 4px;
  width: 80%;
  margin: auto;
  background-color: $text-pink;
}

.game-mode-card-title {
  color: $text-pink;
  margin-bottom: 0;
}

.game-mode-card-title-genius {
  color: $text-green;
  margin-bottom: 0;
}

.game-mode-card-title-categories {
  color: #5b7db1;
  margin-bottom: 0;
}

.game-mode-card-description {
  color: $bg-primary;
}

.card-image {
  width: 100%;
  border-radius: 4px;
}

/* On mouse-over, add a deeper shadow */
.game-mode-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

/* Add some padding inside the card container */
.game-mode-container {
  padding: 2px 16px;
  border-radius: 4px;
  background-color: $bg-primary;
}

.game-mode-container p {
  color: $text-primary;
}

///////////////////////////////////////////////////////////
//Play Random Screen
.play-random-screen {
  text-align: center;
}

.random-word-buttons {
  margin-bottom: 10px;
}

.displayed-letters {
  font-size: 4rem;
}

.lost-word {
  color: $text-pink;
}

///////////////////////////////////////////////////////////
//Sign In Screen
.signin-screen {
  padding-top: 60px;
}
.signin-form {
  position: relative;
  margin: auto;
  border: 1.5px solid $bg-primary;
  border-radius: 4px;
  padding: 2rem;
  max-width: 50%;
}

///////////////////////////////////////////////////////////
//Underline
.underline-letter-space {
  font-size: 3rem;
  padding-left: 5px;
  padding-right: 5px;
}

///////////////////////////////////////////////////////////
//Medium Screens
@media only screen and (max-width: 750px) {
  .game-mode-cards-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

///////////////////////////////////////////////////////////
/* Small Screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .logo-png {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
    align-items: center;
  }

  main {
    margin-left: 0;
    margin-bottom: 5rem;
  }

  .homescreen-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 505;
  }

  .dictionary-grid {
    max-width: 100%;
  }

  .signin-screen {
    padding-top: 8px;
  }

  .mwt-screen {
    max-width: 100%;
  }

  .thesaurus-container {
    border-radius: 4px;
    padding: 0.4rem;
    padding-left: 1rem;
    width: 7rem;
    margin-left: auto;
    margin-top: 2rem;
  }
  .game-mode-cards-container {
    display: block;
    flex-direction: row;
  }

  .game-mode-card {
    width: 75%;
    margin-bottom: 50px;
  }
}

///////////////////////////////////////////////////////////
/* Large Screens */
@media only screen and (min-width: 900px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .mwt-screen {
    width: 80%;
  }
}

/////////////////////////////////////////////
//Extra Large Screens
@media only screen and (min-width: 900px) {
  .game-mode-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 4px;
    width: 70%;
    margin: auto;
  }
}

.available-letters-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.letter-button {
  background-color: #ff7eee;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 500;
  height: 30px;
  width: 30px;
  list-style: none;
  margin: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: ease-in-out;
}

.letter-button:hover {
  background-color: $bg-primary;
  color: #ff7eee;
  transition-duration: 0.3s;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: $bg-primary;
  color: #f44336;
  margin-bottom: 15px;
  text-align: left;
}

.success {
  padding: 20px;
  background-color: $bg-primary;
  color: $text-green;
  margin-bottom: 15px;
  text-align: left;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.input-box {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

.add-to-dictionary-container {
  text-align: left;
}
